docsrepo-ejb/src/wsdl/localhost_8080/docsrepo-soap/DocsService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3.payara-p3 (2.4.3.payara-maintenance-a5c1c68; 2019-06-17T14:04:38+0200) JAXWS-RI/2.3.2.payara-p2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Metro/2.4.3.payara-p3 (2.4.3.payara-maintenance-a5c1c68; 2019-06-17T14:04:38+0200) JAXWS-RI/2.3.2.payara-p2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://soap.docsrepo/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://soap.docsrepo/" name="DocsService">
<types>
<xsd:schema>
<xsd:import namespace="http://soap.docsrepo/" schemaLocation="http://localhost:8080/docsrepo-soap/DocsService?xsd=1"/>
</xsd:schema>
</types>
<message name="createDocument">
<part name="parameters" element="tns:createDocument"/>
</message>
<message name="getDocument">
<part name="parameters" element="tns:getDocument"/>
</message>
<message name="getDocumentResponse">
<part name="parameters" element="tns:getDocumentResponse"/>
</message>
<message name="removeDocument">
<part name="parameters" element="tns:removeDocument"/>
</message>
<message name="updateDocument">
<part name="parameters" element="tns:updateDocument"/>
</message>
<message name="getDocuments">
<part name="parameters" element="tns:getDocuments"/>
</message>
<message name="getDocumentsResponse">
<part name="parameters" element="tns:getDocumentsResponse"/>
</message>
<portType name="DocsWebService">
<operation name="createDocument">
<input wsam:Action="http://soap.docsrepo/DocsWebService/createDocument" message="tns:createDocument"/>
</operation>
<operation name="getDocument">
<input wsam:Action="http://soap.docsrepo/DocsWebService/getDocumentRequest" message="tns:getDocument"/>
<output wsam:Action="http://soap.docsrepo/DocsWebService/getDocumentResponse" message="tns:getDocumentResponse"/>
</operation>
<operation name="removeDocument">
<input wsam:Action="http://soap.docsrepo/DocsWebService/removeDocument" message="tns:removeDocument"/>
</operation>
<operation name="updateDocument">
<input wsam:Action="http://soap.docsrepo/DocsWebService/updateDocument" message="tns:updateDocument"/>
</operation>
<operation name="getDocuments">
<input wsam:Action="http://soap.docsrepo/DocsWebService/getDocumentsRequest" message="tns:getDocuments"/>
<output wsam:Action="http://soap.docsrepo/DocsWebService/getDocumentsResponse" message="tns:getDocumentsResponse"/>
</operation>
</portType>
<binding name="DocsWebServicePortBinding" type="tns:DocsWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="createDocument">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="getDocument">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="removeDocument">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="updateDocument">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="getDocuments">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="DocsService">
<port name="DocsWebServicePort" binding="tns:DocsWebServicePortBinding">
<soap:address location="http://localhost:8080/docsrepo-soap/DocsService"/>
</port>
</service>
</definitions>